.wrapper{
    max-width: 400px;
    margin: 0 auto;
}
.staticMap{
    max-height: 400px;
    max-width: 400px;
}
header{
    height: 100px;
    width: 100%;
    background: black;
    margin: 0;
}
.headOfPage{
    width: 80%;
    margin: 0 auto;
}
h1{
    text-align: center;
    color: #a5a5a5;
    padding: 20px 0px;
    margin: 0;
}
body{
    background: #00002c;
}
#commands{
    margin-bottom: 10px;
}
